<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'

In [ ]:
# print the value of a

In [ ]:
# print the type of a

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

Print the number of elements in the list

Using for loop iterate and print all the elements in the list

Select the second item, 'Python' and store it in a new variable named 'temp'

Print the value of temp and type(temp)

Append the element 'Java' in the list

Remove the element 42 from the list and print the list

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

Append the element 'Black' to colors

Append the color 'Orange' to second position (index=1) and print the list

Print the list

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

Add the elements of colors2 to colors using extend function in the list

Print len of colors and its elements

Sort the list and print it.

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

Use split function to convert the string into a list of words and save it in variable words and print the same

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

Check whether ‚Äòcountry‚Äô is in the list

Remove the element ‚Äòthe‚Äô from the list and print the list.

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
# print x4

Convert the list of elements to single string using join function and print it

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

Create a new variable, stud_grades_set = set(stud_grades)

Print stud_grades_set.

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

Add a new element ‚ÄòG‚Äô to stud_grades_set

Add element 'F' to stud_grades_set. and print it.

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

Print the elements and the length of stud_grades_set

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

Print color and fruits

Create colors_set, and fruits_set. (using set() ) and print them

Find the union of both the sets.

Find the intersection of both the sets

Find the elements which are Fruits but not colors (using set.difference() )

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

Iterate through temp and print all the items in temp

replace first element with 11 in temp

Set temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

replace first element with 17 in temp1

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

Print first element of city

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

Create cities which consist of city and city2

Print cities

Print type of first element in cities

print the type of cities

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

Print the type of actor

Store the value of d[‚Äòlist‚Äô] in new variable List.

Print the type of List.

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

Merge d1 into d.

print d

Print all the keys in d

Print all the values in d

Iterate over d, and print each key, value pair as this - (actor ----> amir)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.